.homepage {
    text-align:center;
    
}

p {
    font-size:40px;
}

h1 {
    font-size:40px;
    color: blue;
    text-align:center;
}

img {
    width:300px;
    height: auto;
}

strong {
    font-family:comic sans-serif;
    color: green;
}

h2 {
    font-size:40px;
    font-style:italic;
    color:yellow;
}

h3 {
    color:purple;
    font-style:oblique;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:36px;
}